*{
    margin: 0;
    padding: 0;
}

/*fonts*/

@font-face{
    font-family: "montserrat-light";
    src: url("./assets/fonts/Montserrat-Light.ttf");
}

@font-face{
    font-family: "dmsans-regular";
    src: url("./assets/fonts/DMSans-Regular.ttf");
}


/* parrafo-title*/
p{
    font-family: "monserrat-light";
    color: rgb(66, 66, 66);
    font-weight: bolder;
    padding: 10px;
}

h3{
    font-size: 30px;
    color: coral;
}

.imgPages{
    border: 2px solid black;
    margin:0px;
    padding:0px;
}
.logo{
    width: 170px;
    height: 61px;
}

.header__nav{
    background-color: rgba(255, 255, 255, 0.312);
    width: 100%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.header__nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px;
}

.header__nav ul li a{
    text-decoration: none;
    font-weight: bolder 100;
    color: black;
    font-size: 20px;
}

/* BANNER */

.banner{
    background-image: url(./assets/images/img-banner1.jpg);
    width: auto;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}


.banner__title, .banner__title2{
    font-family: "montserrat-light";
    font-size: 120px;
    text-align: center;
    color: rgba(255, 255, 255, 0.312);
    padding-top: 70px;
}

.banner__title2{
    font-size: 50px;
}

.slide{
    padding-top: 70px;
    margin: 20px;
    display: flex;
}

.slide__right{
    text-align: right;
    padding: 5px;
    margin: 5px;
}

.slide__left{
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.slide__h3{
    font-size: 20px;
    text-decoration: underline;
    color: rgba(32, 208, 23, 0.778);
}

/* FLEXBOX*/

.container{
    background-color: rgb(255, 200, 0);
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-end;
    height: 500px;
}

.box{
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    width: 300px;
}



